
<style>
    footer {
        width: 100%;
        clear: left;
        padding: .8em;
        color: white;
        background-color: 	#5F9EA0;
        clear: left;
        text-align: center;
        position: fixed;
        bottom: 0;
        margin: 0;
    }
</style>

<footer>Copyright &copy; Adam May 2017</footer>

</body>
</html>