<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <a href="/"><u>Home</u></a>
    <p align="center" style="font-size:20px" ><b><u>About Us</u></b></p>

    <p>
        I created this site based off of my CS355 final project. I wanted to have a place to document all of my physical
        cards, and I feel that this design has allowed me to organize things very efficiently. I am not the best when it
        comes to CSS, I instead worked on functionality over appearance. There are still many more things I would like to
        do with this website, such as create infrastructures for different types of cards.
    </p>

    <br />

    <p>
        This website was made possible by the hard work and dedication of our founder, Adam May.
    </p>

    <br />


    <br />
<%- include("./includes/footer.ejs"); %>
